/**********************************
***************************/
/******* fn *******/

$base-font-size : 10;
$img : '../images/';

// rem 단축 함수
@function rem($px, $base: $base-font-size) {
	@return calc($px / $base)+rem;
}


// Photoshop 자간 간격 설정
@function ps-ls($em: 0) {
	@return strip-units($em) / 1000 + em;
}

// 이미지url + cache buster
@function image-url($str) {
	$ran: random(99999999);
	@if $cashFlag == true {
		@return url("#{$img}#{$str}?#{$ran}");
	} @else {
		@return url("#{$img}#{$str}");
	}
}

@function iurl($str) {
	@return image-url($str);
}
 

/**********************************
***************************/
/******* animation *******/
@keyframes sdb {	
	100% {top: 50%; opacity: 0.2;}
}
@keyframes introV1 { 
	0% {top: -50%; opacity: 0; transform: scale(1);} 
	70% {top:0; opacity: 1; transform: scale(1);}
	100% {top:0; opacity: 1; transform: scale(1.05);}
}
@keyframes introV2 { 
	from {opacity: 0;} 
	to {opacity: 1;}
}
@keyframes introV3 {
	60% {opacity: 0;} 
	100% {top: 0; left: 0; opacity: 0;}
}
//로고 보이기
@keyframes introV4 {
	20% {opacity: 1;} 
	70% {opacity: 1; width:calc(78/1920*100vw);}
	100% {width: calc(705/1920*100vw); opacity: 1;}
}
@keyframes introV4-m {
	20% {opacity: 1;} 
	70% {opacity: 1; width:calc(80vw*78/705);}
	100% {width: 80vw; opacity: 1;}
}
@keyframes introV4-m-en {
	20% {opacity: 1;} 
	70% {opacity: 1; width:calc(80vw*9/120);}
	100% {width: 80vw; opacity: 1;}
}
@keyframes introV4-en {
	20% {opacity: 1;} 
	70% {opacity: 1; width:calc(49/1920*100vw);}
	100% {width: calc(800/1920*100vw); opacity: 1;}
}

//로고 올라가기
@keyframes introV5 {
	from {top: calc(50% - calc(78/1920*50vw)); left:calc(705/1920*50vw);}
	to {top: 4rem; left: 8rem;}
}
//로고 줄어들기
@keyframes introV6 {
	0% { width:calc(705/1920*100vw); height:calc(78/1920*100vw);}
	100% {width: 20.9rem; height: 2.3rem;}
}
//원 -> 점차 확대
@keyframes clipPath1 {
	from {clip-path: circle(0);}
	to {clip-path: circle(100%);}
}
@keyframes fade_in_1 {
	from {
		opacity: 0;
		transform: translateX(5rem);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}	
}
@keyframes link {
	from {
		right: 2.5rem;		
	}
	to {
		right: 1.2rem;
	}	
}