@import '_svg.scss';

#svg{
    width:1400px; margin:0 auto;    
    .svg-logo{
        width: 209px; height: 23px; background: svgLogo('000', '00B4D6'); background-size: 100% 100%;
    }
    .svg-logo-2{
        width: 154px; height: 69px; background: svgLogo2('000', '00B4D6'); background-size: 100% 100%;
    }
    .svg-lang {
        width: 26px; height: 26px; background: svgLang('fff'); background-size: 100% 100%;  
    }
    .svg-work-place {
        width: 22px; height: 22px; background: svgWorkPlace('fff'); background-size: 100% 100%;   
    }
    .svg-menu-icon {
        width: 22px; height: 22px; background: svgMenuBar('fff'); background-size: 100% 100%;    
    }
    //메인
    .svg-main-s {
        width: 384px; height: 384px; background: svgMainS('2F75FF'); background-size: 100% 100%;  
    }
    .svg-main-o {
        width: 384px; height: 384px; background: svgMainO('666'); background-size: 100% 100%;  
    }
    .svg-main-c {
        width: 384px; height: 384px; background: svgMainC('2F75FF'); background-size: 100% 100%;  
    }
    .svg-main-i {
        width: 384px; height: 384px; background: svgMainI('B4986F'); background-size: 100% 100%;  
    }
    .svg-main-o-2 {
        width: 384px; height: 384px; background: svgMainO('FF4002'); background-size: 100% 100%;  
    }
    .svg-link {
        width: 12px; height: 13px; background: svgUrlArrow('fff'); background-size: 100% 100%;
    }
    .svg-link-left {
        width: 24px; height: 24px; background: svgLinkLeft('fff'); background-size: 100% 100%;
    }
    .svg-link-2 {
        width: 24px; height: 24px; background: svgUrlArrow2('fff'); background-size: 100% 100%;
    }
    .svg-link-3 {
        width: 41px; height: 18px; background: svgUrlArrow3('fff'); background-size: 100% 100%;
    }
    .svg-time {
        width: 20px; height: 20px; background: svgClock('fff'); background-size: 100% 100%;
    }
    .svg-puzzle{
        width: 400px; height: 400px; background: svgPuzzle('fff'); background-size: 100% 100%;
    }
    .svg-down-arrow {
        width: 16px; height: 16px; background: svgDownArrow('fff'); background-size: 100% 100%;
    }
    .svg-down-arrow-2 {
        width: 16px; height: 16px; background: svgDownArrow2('fff'); background-size: 100% 100%;
    }
    .svg-up-arrow {
        width: 16px; height: 16px; background: svgUpArrow('fff'); background-size: 100% 100%;
    }
    .svg-up-arrow-2 {
        width: 16px; height: 16px; background: svgUpArrow2('fff'); background-size: 100% 100%;
    }
    .svg-pin {
        width: 20px; height: 20px; background: svgPin('fff'); background-size: 100% 100%;
    }
    .svg-tel {
        width: 20px; height: 21px; background: svgPhone('fff'); background-size: 100% 100%;
    }
    .svg-main-bg-A {
        width: 300px; height: 450px; background: svgMainA('FF4002'); background-size: 100% 100%;
    }  
    .svg-main-bg-D {
        width: 300px; height: 450px; background: svgMainD('2F75FF'); background-size: 100% 100%;
    }
    .svg-search {
        width: 28px; height: 28px; background: svgSearch('fff'); background-size: 100% 100%;
    }
    .svg-close {
        width: 38px; height: 38px; background: svgClose('fff'); background-size: 100% 100%;
    }
    .svg-filter {
        width: 23px; height: 23px; background: svgFilter('fff'); background-size: 100% 100%;
    }
    .svg-input-reset {
        width: 23px; height: 23px; background: svgInputReset('fff', 'aaa'); background-size: 100% 100%;
    }
    .svg-chk {
        width: 15px; height: 11px; background: svgCheck('fff'); background-size: 100% 100%;        
    }
    .svg-page-prevleft {
        width: 10px; height: 10px; background: svgPageArrowLeft('fff'); background-size: 100% 100%;        
    }
    .svg-page-prev {
        width: 10px; height: 10px; background: svgPageArrow('fff'); background-size: 100% 100%;        
    }
    .svg-page-prev2 {
        width: 15px; height: 10px; background: svgPageArrow2('fff'); background-size: 100% 100%;        
    }
    .svg-download {
        width: 24px; height: 24px; background: svgDownload('162DA1'); background-size: 100% 100%;
    }
    .svg-ban {
        width: 24px; height: 24px; background: svgBan('FF0000'); background-size: 100% 100%;
    }
    .svg-bulb {
        width: 74px; height: 74px; background: svgBulb('FF4002'); background-size: 100% 100%;
    }
    .svg-heart {
        width: 74px; height: 74px; background: svgHeart('2F75FF'); background-size: 100% 100%;
    }
    .svg-all-gnb-bg {
        width: 640px; height: 360px; background: allGnbBg('162DA1'); background-size: 100% 100%;
    }
    .svg-intro-cover {
        width: 640px; height: 360px; background: introCover('fff'); background-size: 100% 100%;
    }
    .svg-stock-icon {
        width: 80px; height: 80px; background: svgStockIcon('FF0000', '444'); background-size: 100% 100%;
    }
    .svg-stock-icon-2 {
        width: 80px; height: 80px; background: svgStockIcon2('FF0000', '444'); background-size: 100% 100%;
    }
    .svg-stock-icon-3 {
        width: 80px; height: 80px; background: svgStockIcon3('FF0000', '444'); background-size: 100% 100%;
    }
    .svg-error-icon {
        width: 253px; height: 192px; background: svgError(); background-size: 100% 100%;
    }
    .svg-error-icon-2 {
        width: 253px; height: 192px; background: svgError2(); background-size: 100% 100%;
    }
    .svg-error-icon-3 {
        width: 222px; height: 173px; background: svgError3(); background-size: 100% 100%;
    }
    .svg-ci-logo {
        width: 350px; height: 350px; background: svgCiLogo(); background-size: 100% 100%;
    }
    .svg-ci-motif1  {width: 40px; height: 40px; background: svgCiMotif1('fff'); background-size: 100% 100%;}

    .svg-ci-motif2 {width: 40px; height: 40px; background: svgCiMotif2(); background-size: 100% 100%;}

    .svg-ci-motif3 {width: 40px; height: 40px; background: svgCiMotif3(); background-size: 100% 100%;}

    .svg-ci-typek1 {width: 195px; height: 22px; background: svgCiTypeK1('fff'); background-size: 100% 100%;}

    .svg-ci-typek2 {width: 209px; height: 22px; background: svgCiTypeK2('fff'); background-size: 100% 100%;}

    .svg-ci-typek3 {width: 38px; height: 300px; background: svgCiTypeK3('00A0CA', '231916'); background-size: 100% 100%;}

    .svg-ci-typek4 {width: 38px; height: 340px; background: svgCiTypeK4('00A0CA', '231916'); background-size: 100% 100%;}

    .svg-ci-typec1 {width: 182px; height: 22px; background: svgCiTypeC1('fff'); background-size: 100% 100%;}

    .svg-ci-typec2 {width: 206px; height: 22px; background: svgCiTypeC2('fff'); background-size: 100% 100%;}

    .svg-ci-typec3 {width: 38px; height: 300.4px; background: svgCiTypeC3('00A0CA', '231916'); background-size: 100% 100%;}

    .svg-ci-typec4 {width: 38px; height: 340.6px; background: svgCiTypeC4('00A0CA', '231916'); background-size: 100% 100%;}


    .svg-ci-typee1 {width: 295px; height: 16px; background: svgCiTypeE1('fff'); background-size: 100% 100%;}

    .svg-ci-typee2 {width: 320px; height: 16px; background: svgCiTypeE2('fff'); background-size: 100% 100%;}

    .svg-ci-symbol {width: 31px; height: 30px; background: svgCiSymbol('00ACCD'); background-size: 100% 100%;}
}
