@import '_svg.scss';

#svg{
    width:1400px; margin:0 auto;    
    .svg-logo{
        width: 209px; height: 23px; background: svgLogo('000', '00B4D6'); background-size: 100% 100%;
    }
    .svg-lang {
        width: 28px; height: 28px; background: svgLang('000'); background-size: 100% 100%;  
    }
    .svg-link {
        width: 12px; height: 13px; background: svgUrlArrow('000'); background-size: 100% 100%;
    }
    .svg-link-2 {
        width: 24px; height: 24px; background: svgUrlArrow2('fff'); background-size: 100% 100%;
    }
    .svg-time {
        width: 20px; height: 20px; background: svgClock('fff'); background-size: 100% 100%;
    }
    .svg-puzzle{
        width:400px; height: 400px; background: svgPuzzle('fff', '000'); background-size: 100% 100%;
    }
    .svg-right-arrow {
        width:16px; height: 16px; background: svgUpArrow('000'); background-size: 100% 100%;
    }
    .svg-right-arrow {
        width:16px; height: 16px; background: svgUpArrow('000'); background-size: 100% 100%;
    }
    .svg-pin {
        width:20px; height: 20px; background: svgPin('fff'); background-size: 100% 100%;
    }
    .svg-tel {
        width:20px; height: 21px; background: svgPhone('fff'); background-size: 100% 100%;
    }
    .svg-main-bg-A {
        width:642px; height: 739px; background: svgMainA('FF4002'); background-size: 100% 100%;
    }  
    .svg-main-bg-D {
        width:642px; height: 750px; background: svgMainD('2F75FF'); background-size: 100% 100%;
    }
}
