/*investment*/

@keyframes chartLoad {
    100% {
        stroke-dashoffset: -(2 * 3.1415926536 * 20);
    }
}

.brand {
    &-ceo {
        .ceo-intro{
            position: relative; margin-bottom: 8rem; color: #fff; border-radius: 1.8rem; overflow: hidden;
             //display: flex; align-content: center; flex-wrap: wrap; 
            .content {
                position: relative; padding: 16rem 14rem 12.8rem;
            }
            .title-s1 {display: block;}
            .text {margin-top: 3rem;}
            .writer {position: relative; display: inline-block; margin-top: 8rem; }
            .sign {position: absolute; left: 70%; top: 100%; width:21.8rem; transform: translateY(-50%);}
        }
        .ceo-img {
            position: absolute; top: 0; left: 0; width: 100%; height: 100%; overflow: hidden;
            img {object-fit: cover; width: 100%; height: 100%;}
        }
        .purpose {
            .title-s2 {
                display: block; padding-bottom: 3rem; color: #000081;
            }
            .text-2 + .text-2 {margin-top: 5rem;}
            +.purpose {
                margin-top: 5rem; 
            }
            
        }
    }
    &-history {
        .page-menu-wrap {margin-top: 5rem;}
        .history-gallery {
            position: relative;
            height: 500vh;
        }
        
        .history-gallery-box {
            position: relative;
            width: 100vw;
            height: 100vh;
            background-color: #000;
            overflow: hidden;
            &.fixed {
                position: fixed;
                z-index: 100;
                
            }
            &:after {
                content: '';
                position: absolute;
                width: 100%; 
                height: 100%;
                background-color: #222;
                opacity: 0;
                transition: opacity 0.3s;
            }
            &.cover:after {
                opacity: 0.7;
            }
            img {object-fit: cover; width: 100%; height: 100%;}
            .gallery-grid-area {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                display: grid;
                width: 100%;
                height: 100vh; 
                grid-template-columns: repeat(3, 33.3%);
                grid-template-rows: repeat(8, calc(100%/8));
                justify-content: center;
                align-content: center;
            }
            .gallery-grid {
                margin: 0.5rem; 
                &:nth-child(1) {grid-area: 1 / 1 / 5 / 2;}
                &:nth-child(2) {grid-area: 1 / 2 / 3 / 3;}
                &:nth-child(3) {grid-area: 1 / 3 / 4 / 3;}
                &:nth-child(4) {grid-area: 3 / 2 / 7 / 3;}
                &:nth-child(5) {grid-area: 5 / 1 / 7/  2;}
                &:nth-child(6) {grid-area: 4 / 3 / 9 / 3;}
                &:nth-child(7) {grid-area: 7 / 1 / 9 / 2;}
                &:nth-child(8) {grid-area: 7 / 2 / 9 / 2;}
            }
            .gallery-item {width: 100%; height: 100%; overflow: hidden; border-radius: 1rem;}
            .gallery-text {
                position: absolute; width: 100%; text-align: center; color: #fff; z-index: 1;
                p {margin-top: 3rem;}
            }
        }
        .history-list {
            margin-top: 12rem;
        }
        .history-item {
            padding: 5rem 4rem; display: flex; border-top: 2px solid #ccc;
            .year {padding-right: 12rem; font-weight: 500; color:#162da1;}
            dl {display: flex; flex-wrap: wrap; width: 100%; gap: 2rem 4rem;}
            dt {font-weight: 600;}
            dd {width: calc(100% - 12rem); color: #666;}
        }
    }
    
}


@media (hover: hover) and (pointer: fine) {

}

@media screen and (max-width: 1200px) {}

@media screen and (max-width: 992px) {
    .brand {
        &-ceo {
            .ceo-intro{
                .content {
                    padding: 8rem 4rem 6rem;
                }
            }
        }
        
    }
}

@media screen and (max-width: 768px) {
    // .title-s1 {font-size: 2.1rem;}
    // .text-2 {font-size: 1.2rem;}
    .brand {
        &-ceo {
            .ceo-intro{
                .content {
                    padding: 6rem 3rem 3rem;
                }
            }
        }
        
    }
}