/*etc*/
//inquiry
.inquiry-form {
    .form-head {
        padding-top: 12rem;
        .text-3 {margin-top: 2.4rem;}
    }
    .addr-1, .file {width: calc(100% - 16.5rem);}
}
.inquiry-notice-box {
    margin-top: 8rem;
    padding: 5rem 8rem;
    border-radius: 2rem;
    background-color: #162DA1;
    color: #fff;
}

@media (hover: hover) and (pointer: fine) {
    
    
}

@media screen and (max-width: 1200px) {
    

} 

@media screen and (max-width: 992px) {
   
}

@media screen and (max-width: 768px) {
    

}
