/*************메인*************/
.mouse-cursor.scroll {
    mix-blend-mode: screen;
    &:after {
        content:'SCROLL'; position: absolute; padding-left: 1.5rem; color: #FFF; font-size: 1.6rem;
    }
    .mouse-pointer {
        top: 1rem; width: 0.9rem; height: 0.9rem; border-radius: 50%;
    }
    
}
//메인 팝업
.pop-main {
    position: fixed;
    .popup-inner {padding: 0; overflow: hidden;}
    img {max-width: 100%; max-height: 100%;}
    .popup-footer {
        padding: 2rem 4rem; display: flex; justify-content: space-between; align-items: center; background-color: #F3F7FA;
        .btn-close {font-weight: 600;}
    }
}
a.btn-detail {
    display: inline-block; width: 19.8rem; font-size: 1.8rem; line-height: 6.4rem; color:#fff; background-color: #000; border-radius: 5rem; text-align: center;
    &:after {
        content:''; margin-left: 2.3rem; display: inline-block; vertical-align: middle;  width: 2.4rem; height: 2.4rem; background: svgUrlArrow2('fff'); background-size: 100% 100%;
    }
    &:hover {
        box-shadow:0 0 4px #2c2c2c;
        transition: opacity 0.2s;
        opacity: 0.8;
    }
}
a.btn-detail.white {
    background-color: transparent;
    border:1px solid #fff;    
    &:hover {
        box-shadow:0 0 4px #e6e6e6;
    }
}
a.btn-page-move {
    display: inline-flex; align-items: center; gap: 2.7rem;
    span {font-size: 1.6rem; color: #000; font-weight: 600;}
    i {
        position: relative; width: 3.9rem; height: 4.1rem; border-radius: 50%; border: 1px solid #000; vertical-align: middle;
        &:after {
            content: ''; position: absolute; top:0; right: 1.2rem; bottom:0; margin :auto; width: 3.9rem; height: 1.6rem; background-image: svgUrlArrow3('000'); background-size: 100%; animation: link 1s ease-out infinite;
        }
    }
    &.white {
        i {
            border-color: #fff;
            &:after {
                background-image: svgUrlArrow3('fff'); 
            }
        }
        span {color: #fff;}
    }
}
.main {
    #container {padding-top: 0; padding-bottom: 0;}   
    a.btn-more {
        display: inline-flex; align-items: center; gap: 2.7rem;
        span {font-size: 1.6rem; color: #fff; font-weight: 600;}
        i {
            position: relative; width: 3.9rem; height: 3.9rem; border: 1px solid #fff; border-radius: 50%; vertical-align: middle;
            &:after {
                content: ''; position: absolute; top:0; right: 1.2rem; bottom:0; margin:auto; width:3.9rem; height: 1.6rem; background: svgUrlArrow3('fff'); background-size: 100%; animation: link 1s ease-out infinite;
            }
        }
    }
    //인트로
    &-intro {
        width:100%; height:100%; overflow: hidden; 
        &-end {  
            .main-spot {
                animation-duration: 0.9s;
                animation-name: clipPath1;
                animation-fill-mode: forwards;
                animation-timing-function: ease-in;
            }          
        }
        header {
            display: none;
            background-color: transparent;
        } 
        #intro {
            position: fixed; top:0; left:0; width: 100vw; height: 100vh; display: flex; justify-content: center; align-items: center; background-color: #fff; z-index: 2000;              
            &.active {
                animation-delay: 4.3s;
                animation-duration: 0.5s;
                animation-name: introV2;
                animation-direction: reverse;
                animation-fill-mode: forwards;
                animation-timing-function: linear;    
                .img-wrap {
                    animation-delay: 0s;
                    animation-duration: 1.2s;
                    animation-name: introV1;
                    animation-fill-mode: forwards;
                    animation-timing-function: ease-out;
                }
                .intro-text {
                    animation-delay: 1s;
                    animation-duration: 0.5s;
                    animation-name: introV2;
                    animation-fill-mode: forwards;
                    animation-timing-function: linear;
                }   
                .intro-img {
                    animation-delay: 1.5s;
                    animation-duration: 0.4s;
                    animation-name: introV3;
                    animation-fill-mode: forwards;
                    animation-timing-function: ease-out;
                    &:nth-child(2n) {
                        animation-delay: 1.4s;
                    }
                }
                .intro-box {
                    animation-delay: 2s;
                    animation-duration: 0.5s;
                    animation-name: introV2;
                    animation-direction: reverse;
                    animation-fill-mode: forwards;
                    animation-timing-function: linear;
                }
                .intro-logo {
                    animation-delay: 2.5s;
                    animation-duration: 1s;
                    animation-name: introV4;
                    animation-fill-mode: forwards;
                    animation-timing-function: linear;                 
                }               
            }
            
        }
        .img-wrap {
            position:absolute; top: -50%; left:0; width: 100%; height: 100%; opacity: 0; 
        } 
        .intro-text {
            position: relative; display: inline-block; width:100%; font-size: 4rem; font-weight: 700; line-height: 52/40; opacity: 0; text-align: center; vertical-align: middle;
        }    
        .intro-img {
            position:absolute; top: 0; left: 0; right: 0; bottom: 0; margin: auto; max-width: 200px; max-height: 200px; width: calc(200/1920*100vw); height: calc(200/1920*100vw); filter: drop-shadow(rgba(22, 45, 161, 0.3) 1rem 1rem 32px);
            &:nth-child(1) {top: -34%; left: -80%;}
            &:nth-child(2) {top: -69%; left: -40%;}
            &:nth-child(3) {top: 0; left: -64%;}
            &:nth-child(4) {top: 34%; left: -80%;}
            &:nth-child(5) {top: 55%; left: -40%;}
            &:nth-child(6) {top: -69%; left: 40%;}
            &:nth-child(7) {top: -34%; left: 80%;}
            &:nth-child(8) {top: 0; left: 64%;}
            &:nth-child(9) {top: 34%; left: 80%;}
            &:nth-child(10) {top: 55%; left: 40%;}
        }
        .intro-logo-wrap {
            position: absolute;
        }
        .intro-logo {
            margin:0 auto; width:calc(77/1920*100vw); height:calc(78/1920*100vw); opacity: 0; @include font0; overflow: hidden;
            &:after {
                content: '';
                position: absolute;
                right: -10%;
                height: 100%;
                width: 10%;
                background-color: rgba(255, 255, 255, 0.5);
            }
            span {
                display: block; width:calc(705/1920*100vw); height:calc(78/1920*100vw); background: svgLogo('000', '00B4D6') no-repeat 0 /100%; 
            }
        }       
    } 
    section {
        position: relative; padding: 16rem 0; overflow: hidden;
    }     
    .section-head {
        position: relative; padding-right: 23rem; margin-bottom: 7rem;
        &.scr-eff {
            .sub, .text-1, .title-h2 {transform: translateY(150%) skew(-20deg, 0); opacity: 0; transition: transform 1s ease, opacity 1s ease;} 
            .title-h2 {transition-delay: 0.2s;}
            .text-1 {transition-delay: 0.6s;}
        }
        &.scr-eff-active {
            .sub, .title-h2, .text-1 { transform: translateY(0)  skew(0, 0); opacity: 1;}
        }        
        .text-1 {
            margin-top: 2rem; color: #444; font-size: 2rem; font-weight: 500;
         }
        .btn-detail {
            position: absolute; right: 0; bottom:0; 
        }
    }   
    .main-title {
        .sub  {
            position:relative; display: inline-block; font-size: 2.4rem; 
            &:after {
                content:''; position: absolute; right: -1.8rem; bottom: 17%; width: 1.2rem; height: 1.2rem; background-color: #2F75FF; border-radius: 50%;
            }
        }
        .title-h2 {display: block; margin-top: 2rem;}        
    }

    //메인 비주얼
    &-spot {
        position: relative; width: 100vw; height: 100vh; padding: 0 !important;  clip-path: circle(0);
        .section-inner {width: 100%;}       
        .swiper-slide-active:not(.last) {
            .spot-media {transform: scale(1.3);}
        }
        .spot {           
            &-time-break {z-index: 1000 !important;}    
            &-media {  
                position: absolute; top: 0; bottom:0; left: 0; right:0; margin: auto; width: 100vw; height: 100vh; background-size: cover; background-repeat: no-repeat; background-position: 50% 50%; transition: transform 5s 1s;
                &.cover:after {
                    content: ''; position: absolute; top:0; left:0; width: 100%; height: 100%; background: rgba(34,34,34,0.2);
                }
                
            } 
            &-text {
                position: relative; color: #fff; 
                &.on {
                    strong {opacity: 1; transform: translateY(0);}
                    p {opacity: 1; transform: translateX(0);}
                }
                strong {
                    display: block; font-size: 8rem; line-height: calc(120/100); opacity: 0; transform: translateY(100%); transition: opacity 1s, transform 1s;
                }
                p {margin-top: 4rem; font-size: 3rem; opacity: 0; transform: translateX(-100%); transition: opacity 1s 1s, transform 1s 1s;}
            }
            &-change {
                position: absolute; display: inline-flex; top: 0; left:-150vw; z-index: 10; font-size: 0; white-space: nowrap; font-size: 0;
                * {position: relative; }
                &.color-1 {
                    .mask-1 {background-image: introCover('00B4D6');}
                    .mask-2, .mask-3 { background-color: #00B4D6;}                   
                }
                &.color-2 {
                    .mask-1 {background-image: introCover('2F75FF');}
                    .mask-2, .mask-3 { background-color: #2F75FF;}                   
                }
                &.color-3 {
                    .mask-1 {background-image: introCover('162DA1');}
                    .mask-2, .mask-3 { background-color: #162DA1;}                   
                }
                &.color-4 {
                    .mask-1 {background-image: introCover('FF4002');}
                    .mask-2, .mask-3 { background-color: #FF4002;}                   
                }
                &.color-5 {
                    .mask-1 {background-image: introCover('000081');}
                    .mask-2, .mask-3 { background-color: #000081;}                   
                }
                .mask-1 {width: calc(464/1080*100vh); height: 100vh;  background-size: 100% 100%;}
                .mask-2 {left: -0.1vw; width: 100vw; height: 100vh;} 
                .mask-3 {left: -0.1vw; width: 50vw; height: 100vh; border-top-right-radius: 50%; border-bottom-right-radius: 50%;}
            }
            &-last {
                background-color:  #000081;
                .spot-media {
                    width: calc(705/1920*100vw);
                    height: calc(396/1920*100vw);
                    border-radius: 3rem;
                    transition: all 1.5s;
                    overflow: hidden;
                }
                &.on {
                    .spot-media {
                        width: 100vw;
                        height: 100vh;
                        border-radius: 0;
                    }
                }
            }
        }
        video { width:100%; height:100%; object-fit: cover; }        
        .scroll-down {
            position: absolute; right: 8rem; bottom: 0; text-align: center; z-index: 3;
            p {font-size: 1.4rem; font-weight: 700; color: #fff;}
            .track {
                position: relative; margin: 1.2rem auto 0; width: 1px; max-height: 8rem; height: calc(8/108)*100vh; background-color: rgba(255, 255, 255, 0.4);
            }
            .bar {position:absolute; top:0; left:0; width: 1px; height: 50%; background-color: #fff; animation: sdb ease 1.2s infinite;}
        }
        .swiper-slide {
            width: 100vw; height: 100vh; display: flex; align-items: center; justify-content: center;
        }       
        .swiper-pagination {
            position: absolute; padding: 0 3rem; bottom: 10rem; left: 0; right: 0; margin: auto;  display: flex; gap: 0.8rem; max-width: 150rem;  width: 100%; z-index: 3; @include font0;
            .duration {position: relative; width: 100%; height: 2px; background-color: rgba(255, 255, 255, 0.4);}
            .bar {position: absolute; width: 0; height: 100%; background-color: #00B4D6;}
            .bullet-number {margin-top: 1.6rem; font-size: 1.6rem; font-weight: 600; color: rgba(255, 255, 255, 0.4);}
            .bullet-title {margin-top: 0.4rem; font-size: 1.6rem; color: rgba(255, 255, 255, 0.4);}            
            .swiper-pagination-bullet-active {
                .bullet-number {color: #00B4D6;}
                .bullet-title {color: #fff;}
            }
        }
    }

    &-philosophy {
        background-color: #f7f7f7; 
        .section-inner {position: relative;}
        .philosophy-list {
            display: flex;
            padding-left: 70%;
            width: 100%;
            gap: 1.4%;
            opacity: 0;
           // transition: all 0.5s ease;
        }   
        .philosophy-item {
            position: relative; display:flex; width: 11.6%; flex-wrap: wrap; align-content: center; justify-content: center; height: 52rem; text-align: center; color: #fff; border-radius: 2rem; overflow: hidden; 
            .thumb {position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-repeat: no-repeat; background-position: 50% 50%; background-size: cover;}
            .info {position: relative;}
            .title {width: 100%; font-size: 2.4rem; font-weight: 600; transition: font 0.3s ease-out;}
            .text-1 {margin-top: 2rem; width:100%;}
            .text-1, .btn-wrap {display: none;}
            .btn-wrap {margin-top: 5rem;}
        }
        .scr-eff-active {
            .over {
                .text-1, .btn-wrap {display: block;}
                .title {font-size: 4.8rem;}
            }
        }       
    }  
    &-value {
        .bg-a {
            position:absolute; left: 0; bottom: 0; width:calc(642/1920*100vw); height: calc(739/1920*100vw); background: svgMainA('FF400240'); background-size: 100% 100%; z-index: 0; transform: translateY(30%); transition: transform 0.8s ease-in;
        }   
        .section-inner {
            position: relative; display: flex; flex-wrap: wrap; justify-content: space-between;
        }
        .section-head {       
            padding: 0;    
            .btn-detail {
                position:static; margin-top: 70px;
            }  
        }    
        .scr-eff {
            &.scr-eff-active {
                &.bg-a  {transform: translateY(0);}
                .fadeup {
                    opacity: 0;
                    transition: 0.4s ease-out;
                    transform: translateY(40px);
                }
                .title {transform: translateX(0); opacity: 1;}
                .thumb {
                    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
                    visibility: visible;
                    transform: skewY(0);
                }
            }
        }
        .section-contents {width: calc(924/1440)*100%;}
        .value-list {display: flex; flex-wrap: wrap; justify-content: space-between;}   
        .value-item {
            position: relative; width: calc(410/924)*100%;       
            .num {margin-top: 2.8rem; padding-bottom: 0.8rem; font-size: 5.6rem; line-height: calc(66.8/56); color: #e5e5e5; font-weight: 700; border-bottom: 1px solid #e5e5e5;}
            .text-1 {margin-top: 2rem; color: #666;}
            .text-2 {margin-left: 0.8rem; color: #162DA1; font-weight: 500;}        
            .title {margin-top: 2.8rem; opacity: 0; transform: translateX(100%); transition: all 2.5s ease-out;}
            .thumb {
                position:relative; font-size: 0; clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%); overflow: hidden; transition: 1s ease-out; transition-delay: 0.3s;
                img {width: 100%; transition: 1.5s ease-out; transition-delay: 0.1s;} 
            }
            &:nth-of-type(2n) {margin-top: calc(100/804)*100%;}
            &:nth-of-type(2) {margin-top: calc(260/804)*100%;}
            &:not(:first-child):nth-of-type(2n+1) { margin-top: calc(130/804)*-100%;} 
        }
    }
    &-news {
        .scr-eff {
            opacity: 0; transform: translateY(15%); transition: opacity 0.5s ease-in, transform 0.5s ease-in-out;
            &.scr-eff-active {opacity: 1; transform: translateY(0);}
        }        
        .news-item {        
            a {display: block; width: 100%; height:100%; border: 1px solid #e5e5e5; transition: margin 0.3s ease-in, transform 0.3s ease; border-radius: 2rem; background-color: #fff; overflow: hidden;}
            .thumb-wrap {
                position: relative; width: 100%; height: 100%; opacity: 0; transition: opacity 0.3s ease-out; 
                &:before {
                    content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(22, 45, 161,0.7); 
                }
            }
            .thumb {   
               background-repeat: no-repeat; background-position: 50% 50%; background-size: cover; 
                &:before {content:''; display: block; padding-bottom: 100%;} 
            }
            .info {position: absolute; top:0; left:0; padding: 5rem; width:100%; height:100%; z-index:1;}
            .brand {padding:0 1.6rem; display: inline-block; height: 4.5rem; line-height: 4.5rem; border: 1px solid #162DA1; border-radius: 5rem; color: #162DA1; font-size: 1.8rem; font-weight: 700;}
            .title-s2 {margin-top: 1.6rem;}
            .text-1 {margin-top: 3.6rem; color: #666;}
            .date {position: absolute; bottom: calc(50/460)*100%; padding-left: 3rem; color: #666; font-weight: 700;}    
        }
        .swiper-scrollbar {margin-top: 6rem;}    
    }
    &-business {
        min-height: 100vh;
        .section-head {
            .title-h2, .sub, .text-1 {color: #fff;}
        }
       
        .section-bg {
            position:absolute; top:0; left:0; width: 100%; height: 100%;
            &:after {content: ''; position: relative; display: block; width: 100%; height: 100%;  background: #222; filter:opacity(0.45)}
            .business-bg {position: absolute; display: none; top: 0; left: 0; width: 100%; height: 100%; background-repeat: no-repeat; background-position: 50% 50%;  background-size: cover; background-attachment: fixed;}
        }
        .swiper-container {width:100%; height: 100%;}
        .scr-eff-active {
            .main-business-swiper {opacity: 1; transform: skew(0, 0);}
        }
        .main-business-swiper {
            position: relative;
            opacity: 0;
            width: 100%; 
            height: 100%;
            transition: transform 1s, opacity 1s;
            transform: skew(30deg, -30deg);
            z-index: 2;   
        }
        .business-item {           
            padding: 0 8rem;
            width: calc(100vw - (583/1920)*100vw);
            text-align: center;
        } 
        .item-center {
            display: inline-flex;
            justify-content: center;
            text-align: left;
        }
        .swiper-slide-prev.business-item {            
            .thumb {
                position: absolute;
                right: 8rem;
                .name {opacity: 0;}
            }
        }
        .swiper-slide-next.business-item {
            .thumb {
                position: absolute; 
                right: calc(100% - (583/1920)*100vw);
            }
        }
        .btn-more {margin-top: 5rem;}  
        .thumb {
            position: relative;
            width: calc(583/1920*100vw);
            height: calc(583/1920*100vw); 
            max-width: 58.3rem;
            max-height: 58.3rem;
            color: #fff;
            mix-blend-mode: color-burn;
            .name {
                position: absolute;
                bottom: 0;
                margin-bottom: -6rem;
                font-size: 12rem;
                opacity: 0.3;
                transform: opacity 0.5s;
            }
        }       
        .text {font-size: 4.8rem; color: #fff; font-weight: 600;}
        .puzzle {
            position: absolute;
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-size: cover;
            color: #fff;
            mask-image: url('../images/main/clip_puzzle.svg');
            filter: brightness(0.5);
            transform: rotate(-20deg);
            transition:filter 0.5s, transform 0.5s, opacity 0.5s;
        }
        .shadow {
            position: absolute;
            width: 100%;
            height: 100%;
            background: svgPuzzle('ffffff') no-repeat 0 / 100%;
            filter: opacity(1) drop-shadow(rgba(0, 0, 0, 0.8) 3rem 3rem 3.2rem);
            transform: rotate(-20deg);
            transition: transform 0.5s;
        }
        .content {
            padding-top: 10rem;
            padding-left: 7rem;
            max-width: 42rem;
            width: calc(420/1920*100vw);
            transform: translateY(100%) scale(0.2);
            opacity: 0;
            transition: transform 1s;
        }  
        .swiper-button-next, .swiper-button-prev {
            width: 3.6rem; height: 3.6rem; border-radius: 50%; background: svgPageArrow('fff') no-repeat 50% 50%/ 1.2rem;
        }
        .swiper-button-prev {background-color: rgba(255,255,255,0.4);}
        .swiper-button-next {background-color: #162DA1; transform: rotate(180deg);}
        .swiper-control-wrap {                
            position: absolute;
            top: 3rem;
            left: 0;
            right: 0;
            margin: auto;
            max-width: calc(100.03rem + 16rem);
            padding: 0 8rem;
            width: calc(100vw - (583/1920)*100vw);
            display: flex;
            z-index: 3;
            .space {
                width: calc(583/1920*100vw);
                max-width: 58.3rem;
            }
        }
        .swiper-control {
            display: flex;
            padding-left: 7rem;
            max-width: 42rem;
            align-items: center;  
            width: calc(420/1920*100vw);         
            gap: 0.8rem;          
        }
        .page-info {font-size: 2.4rem; color:rgba(255,255,255,0.4)}
        .current-number {font-weight: 600; color: #fff;}
        .swiper-slide-active {
            .puzzle, .shadow {transform: rotate(0);}
            .puzzle {filter: brightness(1);}
            //.shadow {filter: opacity(0.33) drop-shadow(rgba(0, 0, 0, 1) 5rem 5rem 6.2rem);}
            //.puzzle {opacity: 0;}
            .thumb .name {opacity: 1;}
            .content {transform: translateY(0) scale(1); opacity: 1;}
        }       
    } 
    .bg-socio {
        margin-top: 12rem; display: flex; overflow: hidden;
        div {
            width: calc(384/1920*100vw); height: calc(384/1920*100vw); background-repeat: no-repeat; background-size: 100%; opacity: 0.4; transform: translateY(100%); transition: transform 0.8s ease-in;
            &.on {transform: translateY(0);}
        }
        .s {background-image: svgMainS('2F75FF');}
        .o {background-image: svgMainO('666');}
        .c {background-image: svgMainC('2F75FF');}
        .i {background-image: svgMainI('B4986F');}
        .o {background-image: svgMainO('FF4002');}
    }  
}


@media (hover: hover) and (pointer: fine) {
    .main-news {
        .news-item {
            &:hover {
                a {transform:translateY(-4rem); box-shadow: 1rem 1rem 3.2rem rgba(34, 34, 34, 0.24); border: 0;}
                .thumb-wrap {opacity: 1;}
                .brand {border-color: #fff; color:#fff;}
                .text-1 {color: #fff; }
                .date {color: #fff; background-image: svgClock(fff);}
                .title-s2 {
                    color: #fff;
                    span {border-bottom: 2px solid #fff;}
                }
            }
        }
    }
     
}
 
@media screen and (max-width: 1200px) {
     
 
} 
 
@media screen and (max-width: 992px) {
   
}
 
@media screen and (max-width: 768px) {
     
}