/*************메인*************/
.mouse-cursor.scroll {
    mix-blend-mode: screen;
    &:after {
        content:'SCROLL'; position: absolute; padding-left: 1.5rem; color: #FFF; font-size: 1.6rem;
    }
    .mouse-pointer {
        top: 1rem; width: 0.9rem; height: 0.9rem; border-radius: 50%;
    }
    
}
//메인 팝업
.pop-main {
    position: fixed;
    .popup-inner {padding: 0; overflow: hidden;}
    img {max-width: calc(100vw - 3.2rem); max-height: 78vh;}
    .popup-footer {
        padding: 2rem 4rem; display: flex; justify-content: space-between; align-items: center; background-color: #F3F7FA;
        .btn-close {font-weight: 600;}
    }
}
a.btn-detail {
    display: inline-block; width: 19.8rem; font-size: 1.8rem; line-height: 6.4rem; color:#fff; background-color: #000; border-radius: 5rem; text-align: center;
    &:after {
        content:''; margin-left: 2.3rem; display: inline-block; vertical-align: middle;  width: 2.4rem; height: 2.4rem; background: svgUrlArrow2('fff'); background-size: 100% 100%;
    }
    &:hover {
        box-shadow:0 0 4px #2c2c2c;
        transition: opacity 0.2s;
        opacity: 0.8;
    }
}
a.btn-detail.white {
    background-color: transparent;
    border:1px solid #fff;    
    &:hover {
        box-shadow:0 0 4px #e6e6e6;
    }
}
a.btn-page-move {
    display: inline-flex; align-items: center; gap: 2.7rem;
    span {font-size: 1.6rem; color: #000; font-weight: 600;}
    i {
        position: relative; width: 3.9rem; height: 4.1rem; border-radius: 50%; border: 1px solid #000; vertical-align: middle;
        &:after {
            content: ''; position: absolute; top:0; right: 1.2rem; bottom:0; margin :auto; width: 3.9rem; height: 1.6rem; background-image: svgUrlArrow3('000'); background-size: 100%; animation: link 1s ease-out infinite;
        }
    }
    &.white {
        i {
            border-color: #fff;
            &:after {
                background-image: svgUrlArrow3('fff'); 
            }
        }
        span {color: #fff;}
    }
}
.main {
    #container {padding-top: 0; padding-bottom: 0;}   
    a.btn-more {
        display: inline-flex; align-items: center; gap: 2.7rem;
        span {font-size: 1.6rem; color: #fff; font-weight: 600;}
        i {
            position: relative; width: 3.9rem; height: 3.9rem; border: 1px solid #fff; border-radius: 50%; vertical-align: middle;
            &:after {
                content: ''; position: absolute; top:0; right: 1.2rem; bottom:0; margin: auto; width: 3.9rem; height: 1.6rem; background: svgUrlArrow3('fff'); background-size: 100%; animation: link 1s ease-out infinite;
            }
        }
    }
    //인트로
    &-intro {
        width:100%; height:100%; overflow: hidden; 
        &-end {  
            .main-spot {
                animation-duration: 0.9s;
                animation-name: clipPath1;
                animation-fill-mode: forwards;
                animation-timing-function: ease-in;
            }          
        }
        header {
            display: none;
            background-color: transparent;
        } 
        #intro {
            position: fixed; top:0; left:0; width: 100vw; height: 100vh; display: flex; justify-content: center; align-items: center; background-color: #fff; z-index: 2000;              
            &.active {
                animation-delay: 4.3s;
                animation-duration: 0.5s;
                animation-name: introV2;
                animation-direction: reverse;
                animation-fill-mode: forwards;
                animation-timing-function: linear;    
                .img-wrap {
                    animation-delay: 0s;
                    animation-duration: 1.2s;
                    animation-name: introV1;
                    animation-fill-mode: forwards;
                    animation-timing-function: ease-out;
                }
                .intro-text {
                    animation-delay: 1s;
                    animation-duration: 0.5s;
                    animation-name: introV2;
                    animation-fill-mode: forwards;
                    animation-timing-function: linear;
                }   
                .intro-img {
                    animation-delay: 1.5s;
                    animation-duration: 0.4s;
                    animation-name: introV3;
                    animation-fill-mode: forwards;
                    animation-timing-function: ease-out;
                    &:nth-child(2n) {
                        animation-delay: 1.4s;
                    }
                }
                .intro-box {
                    animation-delay: 2s;
                    animation-duration: 0.5s;
                    animation-name: introV2;
                    animation-direction: reverse;
                    animation-fill-mode: forwards;
                    animation-timing-function: linear;
                }
                .intro-logo {
                    animation-delay: 2.5s;
                    animation-duration: 1s;
                    animation-name: introV4;
                    animation-fill-mode: forwards;
                    animation-timing-function: linear;                 
                }               
            }
            
        }
        .img-wrap {
            position:absolute; top: -50%; left:0; width: 100%; height: 100%; opacity: 0; 
        } 
        .intro-text {
            position: relative; display: inline-block; width:100%; font-size: 4rem; font-weight: 700; line-height: calc(52/40); opacity: 0; text-align: center; vertical-align: middle;
        }    
        .intro-img {
            position:absolute; top: 0; left: 0; right: 0; bottom: 0; margin: auto; max-width: 200px; max-height: 200px; width: calc(200/1920*100vw); height: calc(200/1920*100vw); filter: drop-shadow(rgba(22, 45, 161, 0.3) 1rem 1rem 32px);
            &:nth-child(1) {top: -34%; left: -80%;}
            &:nth-child(2) {top: -69%; left: -40%;}
            &:nth-child(3) {top: 0; left: -64%;}
            &:nth-child(4) {top: 34%; left: -80%;}
            &:nth-child(5) {top: 55%; left: -40%;}
            &:nth-child(6) {top: -69%; left: 40%;}
            &:nth-child(7) {top: -34%; left: 80%;}
            &:nth-child(8) {top: 0; left: 64%;}
            &:nth-child(9) {top: 34%; left: 80%;}
            &:nth-child(10) {top: 55%; left: 40%;}
        }
        .intro-logo-wrap {
            position: absolute;
        }
        .intro-logo {
            position: relative; margin:0 auto; width: calc(77/1920*100vw); height: calc(78/1920*100vw); opacity: 0; @include font0; overflow: hidden;
            &:after {
                content: '';
                position: absolute;
                right: -10%;
                height: 100%;
                width: 10%;
                background-color: rgba(255, 255, 255, 0.5);
            }
            span {
                position:relative; left: 0; top: 0; display: block; width: calc(705/1920*100vw); height: 100%; background: svgLogo('000', '00B4D6') no-repeat 0 / 100%; 
            }
        }       
    } 
    section {
        position: relative; padding: 16rem 0; overflow: hidden;
    }     
    .section-head {
        position: relative; padding-right: 23rem; margin-bottom: 7rem;
        &.scr-eff {
            .sub, .text-1, .title-h2 {transform: translateY(150%) skew(-20deg, 0); opacity: 0; transition: transform 1s ease, opacity 1s ease;} 
            .title-h2 {transition-delay: 0.2s;}
            .text-1 {transition-delay: 0.6s;}
        }
        &.scr-eff-active {
            .sub, .title-h2, .text-1 { transform: translateY(0)  skew(0, 0); opacity: 1;}
        }        
        .text-1 {
            margin-top: 2rem; color: #444; font-size: 2rem; font-weight: 500;
         }
        .btn-detail {
            position: absolute; right: 0; bottom:0; 
        }
    }   
    .main-title {
        .sub  {
            position:relative; display: inline-block; font-size: 2.4rem; 
            &:after {
                content:''; position: absolute; right: -1.8rem; bottom: 17%; width: 1.2rem; height: 1.2rem; background-color: #2F75FF; border-radius: 50%;
            }
        }
        .title-h2 {display: block; margin-top: 2rem;}        
    }

    //메인 비주얼
    &-spot {
        position: relative; width: 100vw; height: 100vh; padding: 0 !important;  clip-path: circle(0);
        .section-inner {width: 100%;}       
        .swiper-slide-active:not(.spot-last) {
            .spot-media {transform: scale(1.3);}
        }
        .spot {           
            &-time-break {z-index: 1000 !important;}    
            &-media {  
                position: absolute; top: 0; bottom:0; left: 0; right:0; margin: auto; width: 100vw; height: 100%; background-size: cover; background-repeat: no-repeat; background-position: 50% 50%; transition: transform 5s 1s;
                &.cover:after {
                    content: ''; position: absolute; top:0; left:0; width: 100%; height: 100%; background: rgba(34,34,34,0.2);
                }
                
            } 
            &-text {
                position: relative; color: #fff; 
                &.on {
                    strong {opacity: 1; transform: translateY(0);}
                    p {opacity: 1; transform: translateX(0);}
                }
                strong {
                    display: block; font-size: 8rem; line-height: calc(120/100); opacity: 0; transform: translateY(100%); transition: opacity 1s, transform 1s;
                }
                p {margin-top: 4rem; font-size: 3rem; opacity: 0; transform: translateX(-100%); transition: opacity 1s 1s, transform 1s 1s;}
            }
            &-change {
                position: absolute; display: inline-flex; top: 0; left:-150vw; height: 100%; z-index: 10; font-size: 0; white-space: nowrap; font-size: 0;
                * {position: relative; }
                &.color-1 {
                    .mask-1 {background-image: introCover('00B4D6');}
                    .mask-2, .mask-3 { background-color: #00B4D6;}                   
                }
                &.color-2 {
                    .mask-1 {background-image: introCover('2F75FF');}
                    .mask-2, .mask-3 { background-color: #2F75FF;}                   
                }
                &.color-3 {
                    .mask-1 {background-image: introCover('162DA1');}
                    .mask-2, .mask-3 { background-color: #162DA1;}                   
                }
                &.color-4 {
                    .mask-1 {background-image: introCover('FF4002');}
                    .mask-2, .mask-3 { background-color: #FF4002;}                   
                }
                &.color-5 {
                    .mask-1 {background-image: introCover('000081');}
                    .mask-2, .mask-3 { background-color: #000081;}                   
                }
                .mask-1 {width: 100vh; height: 100%; background-repeat: no-repeat; background-size: auto 100%; background-position: 100% 0;}
                .mask-2 {left: -0.2vw; width: 100vw; height: 100%;} 
                .mask-3 {left: -0.2vw; width: 50vw; height: 100%; border-top-right-radius: 50%; border-bottom-right-radius: 50%;}
            }
            &-last {
                background-color:  #000081;
                .spot-media {
                    width: calc(705/1920*100vw);
                    height: calc(396/1920*100vw);
                    border-radius: 3rem;
                    transition: all 1.5s;
                    overflow: hidden;
                }
                &.on {
                    .spot-media {
                        width: 100%;
                        height: 100%;
                        border-radius: 0;
                    }
                }
            }
        }
        video { width:100%; height:100%; object-fit: cover; }        
        // .scroll-down {
        //     position: absolute; right: 8rem; bottom: 0; text-align: center; z-index: 3;
        //     p {font-size: 1.4rem; font-weight: 700; color: #fff;}
        //     .track {
        //         position: relative; margin: 1.2rem auto 0; width: 1px; max-height: 8rem; height: calc(8/108)*100vh; background-color: rgba(255, 255, 255, 0.4);
        //     }
        //     .bar {position:absolute; top:0; left:0; width: 1px; height: 50%; background-color: #fff; animation: sdb ease 1.2s infinite;}
        // }
        .swiper-slide {
            width: 100vw; height: 100vh; display: flex; align-items: center; justify-content: center;
        }       
        .swiper-pagination {
            position: absolute; padding: 0 3rem; bottom: 10rem; left: 0; right: 0; margin: auto;  display: flex; gap: 0.8rem; max-width: 150rem;  width: 100%; z-index: 3; @include font0;
            .duration {position: relative; width: 100%; height: 2px; background-color: rgba(255, 255, 255, 0.4);}
            .bar {position: absolute; width: 0; height: 100%; background-color: #00B4D6;}
            .bullet-number {margin-top: 1.6rem; font-size: 1.6rem; font-weight: 600; color: rgba(255, 255, 255, 0.4);}
            .bullet-title {margin-top: 0.4rem; font-size: 1.6rem; color: rgba(255, 255, 255, 0.4);}            
            .swiper-pagination-bullet-active {
                .bullet-number {color: #00B4D6;}
                .bullet-title {color: #fff;}
            }
        }
    }

    &-philosophy {
        background-color: #f7f7f7; 
        .section-inner {position: relative;}
        .philosophy-list {
            display: flex;
            padding-left: 70%;
            width: 100%;
            gap: 1.4%;
            opacity: 0;
           // transition: all 0.5s ease;
        }   
        .philosophy-item {
            position: relative; display:flex; width: 11.6%; flex-wrap: wrap; align-content: center; justify-content: center; height: 52rem !important; text-align: center; color: #fff; border-radius: 2rem; overflow: hidden; 
            &.over {width: 48%;}
            .thumb-wrap {
                position: absolute; top: 0; left: 0; width: 100%; height: 100%; 
                &:after {
                    content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(34, 34, 34, 0.4); 
                }
            }
            .thumb {width: 100%; height: 100%; background-repeat: no-repeat; background-position: 50% 50%; background-size: cover;}
            .info {position: relative;}
            .title {width: 100%; font-size: 2.4rem; font-weight: 600; transition: font 0.3s ease-out;}
            .text-1 {margin-top: 2rem; width:100%;}
            .text-1, .btn-wrap {display: none;}
            .btn-wrap {margin-top: 5rem;}
        }
        .scr-eff-active {
            .over {
                .text-1, .btn-wrap {display: block;}
                .title {font-size: 4.8rem;}
            }
        }       
    }  
    &-value {
        .bg-a {
            position:absolute; left: 0; bottom: 0; width:calc(578/1920*100vw); height: calc(577.52/1920*100vw); background: svgMainA('FF5B35'); background-size: 100% 100%; z-index: 0; transform: translateY(30%); transition: transform 0.8s ease-in;
        }   
        .section-inner {
            position: relative; display: flex; flex-wrap: wrap; justify-content: space-between;
        }
        .section-head {       
            width: 30%; padding: 0;    
            .btn-detail {
                position:static; margin-top: 70px;
            }  
        }    
        .scr-eff {
            &.scr-eff-active {
                &.bg-a  {transform: translateY(0);}
                .fadeup {
                    opacity: 0;
                    transition: 0.4s ease-out;
                    transform: translateY(40px);
                }
                .title {transform: translateX(0); opacity: 1;}
                .thumb {
                    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
                    visibility: visible;
                    transform: skewY(0);
                }
            }
        }
        .section-contents {width: calc(924/1440)*100%;}
        .value-list {display: flex; flex-wrap: wrap; justify-content: space-between;}   
        .value-item {
            position: relative; width: calc(410/924)*100%;       
            .num {margin-top: 2.8rem; padding-bottom: 0.8rem; font-size: 5.6rem; line-height: calc(66.8/56); color: #00B4D6; font-weight: 700; border-bottom: 1px solid #e5e5e5;}
            .text-1 {margin-top: 2rem; color: #666;}
            .title-s1 {margin-right: 0.8rem;}
            .text-2 {display: inline-block; color: #162DA1; font-weight: 500;}        
            .title {margin-top: 2.8rem; opacity: 0; transform: translateX(100%); transition: all 1.3s ease-out;}
            .thumb {
                position:relative; font-size: 0; clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%); overflow: hidden; transition: 1s ease-out; transition-delay: 0.3s;
                img {width: 100%; transition: 1.5s ease-out; transition-delay: 0.1s;} 
            }
            &:nth-of-type(2n) {margin-top: calc(100/804)*100%;}
            &:nth-of-type(2) {margin-top: calc(260/804)*100%;}
            &:not(:first-child):nth-of-type(2n+1) { margin-top: calc(130/804)*-100%;} 
        }
    }
    &-news {
        .scr-eff {
            opacity: 0; transform: translateY(15%); transition: opacity 0.5s ease-in, transform 0.5s ease-in-out;
            &.scr-eff-active {opacity: 1; transform: translateY(0);}
        }        
        .news-item {        
            a {display: block; width: 100%; height:100%; border: 1px solid #e5e5e5; transition: margin 0.3s ease-in, transform 0.3s ease; border-radius: 2rem; background-color: #fff; overflow: hidden;}           
            .thumb-wrap {
                position: relative; width: 100%; height: 100%; opacity: 0; transition: opacity 0.3s ease-out; 
                &:before {
                    content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(22, 45, 161, 0.9); 
                }
            }
            .thumb {   
               background-repeat: no-repeat; background-position: 50% 50%; background-size: cover; 
                &:before {content:''; display: block; padding-bottom: 100%;} 
            }
            .info {position: absolute; top:0; left:0; padding: 5rem; width:100%; height:100%; z-index:1;}
            .brand {padding:0 1.6rem; display: inline-block; height: 4.5rem; line-height: 4.5rem; border: 1px solid #162DA1; border-radius: 5rem; color: #162DA1; font-size: 1.8rem; font-weight: 700;}
            .title-s2 {margin-top: 1.6rem;}
            .text-1 {margin-top: 3.6rem; color: #666;}
            .date {position: absolute; bottom: calc(50/460)*100%; padding-left: 3rem; color: #666; font-weight: 700;}    
        }
        .swiper-scrollbar {margin-top: 6rem;}    
    }
    &-business {
        min-height: 100vh;
        .section-head {
            .title-h2, .sub, .text-1 {color: #fff;}
        }
       
        .section-bg {
            position:absolute; top:0; left:0; width: 100%; height: 100%;
            &:after {content: ''; position: relative; display: block; width: 100%; height: 100%;  background: #222; filter:opacity(0.6)}
            .business-bg {position: absolute; display: none; top: 0; left: 0; width: 100%; height: 100%; background-repeat: no-repeat; background-position: 50% 50%;  background-size: cover; background-attachment: fixed;}
        }
        .swiper-container {width:100%; height: 100%;}
        .scr-eff-active {
            .main-business-swiper {opacity: 1; transform: skew(0, 0);}
        }
        .main-business-swiper {
            position: relative;
            opacity: 0;
            width: 100%; 
            height: 100%;
            transition: transform 1s, opacity 1s;
            transform: skew(30deg, -30deg);
            z-index: 2;   
        }
        .business-item {           
            //padding: 0 8rem;
            width: calc(1440/1920*100vw);
            text-align: center;
        } 
        .item-center {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            text-align: left;
        }
        .swiper-slide-prev.business-item {            
            .thumb {
                position: absolute;
                right: 0;
                .name {opacity: 0;}
            }
        }
        .swiper-slide-next.business-item {
            .thumb {
                position: absolute; 
                right: calc(100% - 583/1440*100%);
            }
        }
        .btn-more {margin-top: 5rem;}  
        .thumb {
            position: relative;
            width: calc(583/1440*100%);
            max-width: 58.3rem;
            color: #fff;
            mix-blend-mode: color-burn;
            transition: right 0.3s;
            &:after {content: ''; display: block; padding-bottom: 100%;}
            .name {
                position: absolute;
                bottom: 0;
                margin-bottom: calc(-50/583*100%);
                margin-left: calc(-53/583*100%);
                font-size: 12rem;
                font-weight: 700;
                opacity: 0.3;
                transform: opacity 0.5s;
            }
        }       
        .text {font-size: 4.8rem; color: #fff; font-weight: 600;}
        .puzzle {
            position: absolute;
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-size: cover;
            color: #fff;
            mask-image: url('../images/main/clip_puzzle.svg');
            filter: brightness(0.5);
            transform: rotate(-20deg);
            transition:filter 0.5s, transform 0.5s, opacity 0.5s;
        }
        .shadow {
            position: absolute;
            width: 100%;
            height: 100%;
            background: svgPuzzle('ffffff') no-repeat 0 / 100%;
            filter: opacity(1) drop-shadow(rgba(0, 0, 0, 0.8) 3rem 3rem 3.2rem);
            transform: rotate(-20deg);
            transition: transform 0.5s;
        }
        .content {
            padding-top: 12rem;
            padding-left: 7rem;
            width: calc(520/1440*100%);
            max-width: 52rem;
            transform: translateY(100%) scale(0.2);
            opacity: 0;
            transition: transform 1s;
        }  
        .btn-page-move {margin-top: 5rem;}
        .swiper-button-next, .swiper-button-prev {
            width: 3.6rem; height: 3.6rem; border-radius: 50%; background: svgPageArrow('fff') no-repeat 50% 50%/ 1.2rem;
        }
        .swiper-button-prev {background-color: rgba(255,255,255,0.4);}
        .swiper-button-next {background-color: #162DA1; transform: rotate(180deg);}
        .swiper-control-wrap {                
            position: absolute;
            top: 4.5rem;
            left: 0;
            right: 0;
            margin: auto;
            width: calc(1440/1920*100vw);
            display: flex;
            justify-content: center;
            z-index: 3;
            .space {//thumb와 동일
                width: calc(583/1440*100%);
                max-width: 58.3rem;
            }
        }
        .swiper-control {//content와 동일
            display: flex;
            padding-left: 7rem;
            align-items: center;  
            width: calc(520/1440*100%);
            max-width: 52rem;
            gap: 0.8rem;          
        }
        .page-info {font-size: 2.4rem; color:rgba(255,255,255,0.4)}
        .current-number {font-weight: 600; color: #fff;}
        .swiper-slide-active {
            .puzzle, .shadow {transform: rotate(0);}
            .puzzle {filter: brightness(1);}
            //.shadow {filter: opacity(0.33) drop-shadow(rgba(0, 0, 0, 1) 5rem 5rem 6.2rem);}
            //.puzzle {opacity: 0;}
            .thumb .name {opacity: 1;}
            .content {transform: translateY(0) scale(1); opacity: 1;}
        }       
    } 
    .bg-socio {
        display: flex; overflow: hidden;
        div {
            width: calc(384/1920*100vw); height: calc(384/1920*100vw); background-repeat: no-repeat; background-size: 100%; opacity: 0.4; transform: translateY(100%); transition: transform 0.8s ease-in;
            &.on {transform: translateY(0);}
        }
        .s {background-image: svgMainS('A18158');}
        .o-1 {background-image: svgMainO('fff'); background-color: #8B9191;}
        .c {background-image: svgMainC('2154A5');}
        .i {background-image: svgMainI('A18158');}
        .o-2 {background-image: svgMainO('FF5B35');}
    }  
}


@media (hover: hover) and (pointer: fine) {
    .main-news {
        .news-item {
            &:hover {
                a {transform:translateY(-4rem); box-shadow: 1rem 1rem 3.2rem rgba(34, 34, 34, 0.24); border: 0;}
                .thumb-wrap {opacity: 1;}
                .brand {border-color: #fff; color:#fff;}
                .text-1 {color: #fff; }
                .date {color: #fff; background-image: svgClock(fff);}
                .title-s2 {
                    color: #fff;
                    span {border-bottom: 2px solid #fff;}
                }
            }
        }
    }
     
}


 
@media screen and (max-width: 1440px) {
    .main {
        &-business {
            .thumb .name {font-size: 8rem;}
            .content {padding-left: 5rem;}
            .text {font-size: 3.2rem;}
            .swiper-control-wrap {
                .swiper-control {
                    padding-left: 5rem;
                }
            }
        }
        &-value {
            .section-contents {width: 70%;}
            .value-item {
                width: 46%;
                .num {margin-top: 2rem; font-size: 4.2rem;}
                .text-2 {display: block;}
                .title {margin-top: 2rem;}
            }
        }
        &-news {
            .news-item {               
                .text-1 {margin-top: 2rem;}
                .info {padding: 3.5rem;}
            }
        }
    }
 
} 
 
@media screen and (max-width: 992px) {
    .main {       
        &-spot {            
            .spot-text {
                strong {font-size: 7rem;}
                p {font-size: 2.5rem;}
            }
            .bullet-title {display: none;}
        }
        &-business {
            .thumb .name {font-size: 7rem;}
            .content {padding-left: 3rem;}
            .text {font-size: 3rem;}
            .swiper-control-wrap {
                .swiper-control {
                    padding-left: 3rem;
                }
            }
        }
       
    }
   
}
 
@media screen and (max-width: 766px){   
    .main-intro .intro-text {padding: 0 1.6rem; font-size: 2rem;} 
    a.btn-detail {
        width: 14.4rem; line-height: 4.8rem; font-size: 1.3rem;
        &:after {margin-left: 1.4rem; width: 1.6rem; height: 1.6rem;}
    }
    a.btn-page-move {
        span {font-size: 1.2rem;}
    }
    a.btn-page-move {
        margin-top: 1.2rem;
        span {font-size: 1.2rem; font-weight: 700;}
        i {
            width: 3.2rem; height: 3.2rem;
            &:after {width: 3.178rem; height: 1.313rem;}
        }
    }
    .main {
        section {padding: 6.4rem 0;}
        .section-head {
            padding-right: 0; margin-bottom: 4rem;
            .text-1 {font-size: 1.4rem; font-weight: 400;}
            .btn-detail {position: static; margin-top: 2rem;}
        }
        .main-title {
            .sub {
                font-size: 1.6rem;
                &:after {right: -1.2rem; width: 0.8rem; height: 0.8rem;}
            }
            .title-h2 {margin-top: 1.5rem; font-size: 2.4rem;}
        }
        &-intro {
            .intro-img {
                position:absolute; top: 0; left: 0; right: 0; bottom: 0; margin: auto; max-width: 200px; max-height: 200px; width: calc(200/1920*100vw); height: calc(200/1920*100vw); filter: drop-shadow(rgba(22, 45, 161, 0.3) 1rem 1rem 32px);
                &:nth-child(1) {top: -34%; left: -95%;}
                &:nth-child(3) {top: 0; left: -90%;}
                &:nth-child(4) {top: 34%; left: -95%;}
                &:nth-child(7) {top: -34%; left: 95%;}
                &:nth-child(8) {top: 0; left: 90%;}
                &:nth-child(9) {top: 34%; left: 95%;}
            }
            
        }
        &-spot {
            .section-inner {height: 100%;}
            .spot-text {
                position: absolute; bottom: 10.2rem;
                strong {font-size: 2.8rem;}
                p {margin-top: 2rem; font-size: 1.5rem;}
            }
            .swiper-pagination { bottom: 2.8rem; padding: 0 1.6rem; gap: 0;}
        }
        &-philosophy {           
            .philosophy-list {
                flex-direction: column; gap: 0.8rem;
            }
            .philosophy-item {
                padding: 2rem; width: 100% !important; height: auto !important; border-radius: 1.5rem;
                .title {font-size: 1.6rem; transition: none;}
                &.over {
                    padding: 4rem 0; width: 100%;
                    .title {font-size: 2.4rem;}
                }
            }
        }
        &-value {
            padding-bottom: 23.8rem !important;
            .bg-a {left: auto; right: 0; width: 20rem; height: 19.8rem;}
            .section-head {width: 100%;}
            .section-contents {width: 100%;}
            .value-list {display: block;}
            .value-item {
                width: 20rem;
                &:nth-of-type(2n-1) {margin-left: auto; margin-right: 0;}
                + .value-item {margin-top: 0.8rem !important ;}
                .num {margin-top: 2rem; font-size: 4.2rem;}
                .text-2 {display: block;}
                .title {margin-top: 2rem;}
            }
        }
        &-business {
            min-height: auto;
            .section-head {margin-bottom: 2rem;}
            .main-title .sub:after {background-color: #fff;}
            .shadow, .puzzle {transform: none;}
            .business-item {
                &.swiper-slide-prev, &.swiper-slide-next {
                   .thumb {position: relative; right: auto;}
                }
            }
            .item-center {flex-direction: column; align-items: center ;}     
            .thumb {
                width: 24rem; height: 24rem;
                .name {margin-left: 0; margin-bottom: 0; bottom: auto; top: calc(100% + 3rem); width: 100%; text-align: center; font-size: 3.6rem;}
            }
            .content {margin-top: 8.2rem; padding: 0; width: auto; text-align: center; transform: translateX(100%); transition-delay: 0.2s;}
            .swiper-slide-active .content {
                transform: translateX(0);
            }
            .text {font-size: 1.6rem; line-height: calc(28/16);}
            .swiper-control-wrap {display: none;}  
            .btn-page-move {margin-top: 1.6rem;}            
            .swiper-pagination {
                margin-top: 4.8rem; display: flex; gap: 0.8rem; flex-wrap: wrap; justify-content: center;
                .swiper-pagination-bullet {width: 0.8rem; height: 0.8rem; border: 1px solid #fff; border-radius: 50%;}
                .swiper-pagination-bullet-active {background-color: #fff;}
            }
        }

        &-news {
            .swiper-scrollbar {display: none;}
            .news-item {
                .brand {height: 3.8rem; font-size: 1.2rem; line-height: 3.8rem;}
                .title-s2 {margin-top: 1.2rem; font-size: 2.4rem;}
                .info {padding: 3rem;}
                .text-1 {margin-top: 2rem;}
            }
        }
    }
    .pop-main {
        top: 50% !important;
        left: 0 !important;
        right: 0;
        margin: auto;
        transform: translateY(-50%);
        .popup-wrap {padding: 0;}
        .popup-footer {padding: 1rem 2rem;}
    }
}
.window-mo {
    .main-spot {
        .section-inner {height: 100%;}
        .spot-text {
            position: absolute; bottom: 10.2rem;
            strong {font-size: 2.8rem;}
            p {margin-top: 2rem; font-size: 1.5rem;}
        }
        .swiper-pagination { bottom: 2.8rem; padding: 0 1.6rem; gap: 0;}
    }
    &.main-intro {
        #intro {
            position: fixed; top:0; left:0; width: 100vw; height: 100vh; display: flex; justify-content: center; align-items: center; background-color: #fff; z-index: 2000;              
            &.active {
                .intro-logo {
                    animation-delay: 2.5s;
                    animation-duration: 1s;
                    animation-name: introV4-m;
                    animation-fill-mode: forwards;
                    animation-timing-function: linear;                 
                }               
            }
        }
        .intro-logo {
            width: calc(80vw*78/705);
            height: calc(80vw*78/705);
            span {
                width: 80vw;
            }
        }
    }
    .main {        
        &-business {
            .section-bg .business-bg {background-attachment: initial;}
            .content {padding: 0 3rem;}
        }
    }
    .pop-main {
        top: 50% !important;
        left: 0 !important;
        right: 0;
        margin: auto;
        transform: translateY(-50%);
        .popup-wrap {padding: 0;}
        .popup-footer {padding: 1rem 2rem;}
    }
}
