/*management*/
.management {
    //정도경영 철학
    &-philosophy {
        .plank-item {
            display: flex;
            + .plank-item {margin-top: 5rem;}
            .title-s2 {padding-right: 3rem; width: calc(350/1440*100%);}
            .plank-cont {width: calc(100% - 350/1440*100%);}

            .title-s3 { font-weight: 400;}
        }
        .philosophycont {
            padding: 12rem 0;
            &-img {
                width: 100%;
                margin-left: auto;
                margin-top: 5rem;

                img {
                    width: 100%;
                    max-width: 84.1rem;
                    margin: 0 auto;
                    object-fit: contain;
                }
            }
            
            &:last-of-type {
                padding-bottom: 14rem;
            }

            &.gray {
                background-color: #F7F7F7;
            }

            &-mean {
                margin-top: 5rem;
                color: #444444;
            }
        }
        .section-contents {
            padding-top: 0 !important;
        }
        .philosophy {
            &-poetrykr {
                display: block;
                width: 100%;
                padding: 4rem;
                text-align: center;
                background-color: #2F75FF;
                border-radius: 0.8rem;
                margin-bottom: 1.2rem;

                span {
                    font-weight: 400;
                    font-size: 2.4rem;
                    line-height: 3.6rem;
                    color: #fff;
                }
            }
            &-poetrycc {
                display: block;
                width: 100%;
                padding: 5rem;
                background-color: #fff;
                border-radius: 0.8rem;

                img {
                    display: block;
                    width: 100%;
                    max-width: 58.1rem;
                    margin: 0 auto;
                }
            }
            &-btn {
                text-align: center;
                margin-top: 4rem;

                .btn-type-a {
                    font-weight: 700;
                    font-size: 1.8rem;
                    line-height: 6.1rem;
                    height: 6.1rem;
                    padding: 0 6.4rem;
                    border-radius: 4rem;
                }
            }
        }

        .organization {
            &-img {
                width: 100%;

                img {
                    width: 100%;
                    max-width: 93.4rem;
                    margin: 0 auto;
                }
            }

            &-table {
                margin-top: 10rem;
                border-top: 2px solid #000;
            }
        }
        .conference {
            &-li {
                display: flex;
                border-bottom: 1px solid #DBDBDB;

                .head {
                    flex-basis: 31.4%;
                    flex-shrink: 1;
                    background-color: #fff;
                    padding: 5rem 4rem;

                    strong {
                        display: block;
                        font-weight: 500;
                        font-size: 2.4rem;
                        line-height: 3.6rem;
                    }

                    .time {
                        display: flex;
                        align-items: center;
                        font-weight: 700;
                        font-size: 1.8rem;
                        gap: 0.6rem;
                        line-height: calc(32/18);
                        color: #AAA;
                        margin-top: 1.6rem;

                        &::before {
                            content: '';
                            display: inline-block;
                            width: 2rem;
                            height: 2rem;
                            background: svgClock('AAA');
                            background-size: 100% 100%;
                        }
                    }
                }

                .cont {
                    flex-basis: 68.6%;
                    flex-shrink: 1;
                    padding: 4rem 5rem;

                    ul {
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                    }

                    li {
                        display: flex;
                        align-items: center;
                        gap: 1.15rem;
                        font-weight: 400;
                        font-size: 1.6rem;
                        line-height: 2.8rem;

                        &::before {
                            content: '';
                            display: inline-block;
                            width: 0.3rem;
                            height: 0.3rem;
                            background-color: #666;
                            border-radius: 50%;
                            margin-bottom: 2px;
                        }
                    }
                }
            }
        }
    }
    //인권경영
    &-humanright {
        .plank-item {
            display: flex;
            + .plank-item {margin-top: 5rem;}
            .title-s2 {padding-right: 3rem; width: calc(350/1440*100%);}
            .plank-cont {width: calc(100% - 350/1440*100%);}
        }
        .humanrightcont {
            padding: 12rem 0;
            &-img {
                width: 100%;
                margin-left: auto;
                margin-top: 5rem;

                img {
                    width: 100%;
                    max-width: 84.1rem;
                    margin: 0 auto;
                    object-fit: contain;
                }
            }
            
            &:last-of-type {
                padding-bottom: 14rem;
            }

            &.gray {
                background-color: #F7F7F7;
            }

            &-mean {
                margin-top: 5rem;
                color: #444444;
            }

            &-img {
                .title-s3 { font-weight: 500;}

                img {
                    display: block;
                    width: 100%;
                }
                
                &.cont1 {
                    img{
                        margin: 5rem auto 0;
                        max-width: 47.1rem;
                    }
                }
                
                &.cont2 {
                    img{
                        margin: 5rem auto 0;
                        max-width: 52rem;
                    }
                }
                
                &.cont3 {
                    border-radius: 2rem;
                    overflow: hidden;
                    margin-top: 5rem;
                    img{
                        max-width: 100%;
                        width: 100%;
                    }
                }
            }

            &-table{
                margin-top: 5rem;

                strong {
                    font-weight: 500;
                }

                ul {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    gap: 3rem;
                    margin-top: 2rem;


                    &.type2 {
                        grid-template-columns: 1fr 1fr 1fr;

                        dd {
                            min-height: 11.2rem;
                            background-color: #F3F7FA;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }

                        li {
                            position: relative;
                            &::after {
                                content: '';
                                display: inline-block;
                                width: 2rem;
                                height: 2rem;
                                position: absolute;
                                bottom: 4.6rem;
                                right: -2.5rem;
                                background: svgRightArrow('aaa');
                                background-size: 100% 100%;
                            }

                            &:nth-child(3n)::after {
                                display: none;
                            }
                        }
                    }
                }

                dl{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 1.2rem;
                }

                dt {
                    width: 100%;
                    background-color: #2F75FF;
                    font-weight: 700;
                    font-size: 1.6rem;
                    line-height: 1.9rem;
                    color: #fff;
                    text-align: center;
                    padding: 2rem 0;
                    border-radius: 0.8rem;
                }

                dd {
                    width: 100%;
                    background-color: #fff;
                    font-weight: 400;
                    font-size: 1.6rem;
                    line-height: 2.8rem;
                    color: #666;
                    text-align: center;
                    padding: 2rem 0;
                    border-radius: 0.8rem;
                }
                
                img {
                    margin-top: 2rem;
                    display: block;
                    width: 100%;
                }
            }

            &-btnarea {
                display: flex;
                justify-content: center;
                margin-top: 5rem;

                a {
                    border: 1px solid #000;
                    height: 6.1rem;
                    line-height: 6.1rem;
                    font-weight: 700;
                    font-size: 1.8rem;
                    color: #000;
                    padding: 0 6.4rem;
                    border-radius: 4rem;
                }
            }

            &-completion {
                margin-top: 5rem;

                > strong {
                    font-weight: 500;
                }

                ul {
                    margin: 2rem 0;
                    display: flex;
                    gap: 6.8rem;
                    width: 100%;
                }

                li {
                    flex-basis: 100%;
                    flex-shrink: 1;
                    border-radius: 50%;
                    background-color: #F3F7FA;
                    position: relative;

                    .wrap {
                        display: flex;
                        flex-shrink: 0;
                        width: 100%;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        gap: 1.6rem;

                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }

                    p {
                        font-weight: 400;
                        font-size: 1.6rem;
                        line-height: 2.8rem;
                        text-align: center;
                        color: #666;
                    }

                    strong {
                        font-weight: 700;
                        font-size: 1.8rem;
                        color: #444;
                    }

                    em {
                        font-weight: 500;
                        font-size: 4.8rem;
                        color: #000081;
                    }

                    &::before {
                        content: '';
                        display: block;
                        padding-bottom: 100%;
                    }
                }

                span {
                    display: block;
                    font-weight: 400;
                    font-size: 1.4rem;
                    line-height: 1.67rem;
                    text-align: end;
                    color: #888;
                }
            }

            .organizational {
                margin: 2rem -3rem;
                width: calc(100% + 6rem);
                border-collapse: separate;
                border-spacing: 3rem 2rem;

                thead {
                    td,th {
                        border-top: 2px solid #000;
                        border-bottom: 1px solid #E5E5E5;
                        text-align: center;
                        padding: 1.8rem 0;
                        font-weight: 700;
                        font-size: 1.6rem;
                        line-height: 1.9rem;
                        color: #000;
                    }
                }
                tbody {
                    th {
                        background-color: #2F75FF;
                        text-align: center;
                        padding: 2rem 0;
                        font-weight: 700;
                        font-size: 1.6rem;
                        line-height: 1.9rem;
                        color: #fff;
                        border-radius: 0.8rem;
                    }
                    td {
                        background-color: #fff;
                        text-align: center;
                        padding: 1.8rem 0;
                        font-weight: 400;
                        font-size: 1.6rem;
                        line-height: 1.9rem;
                        color: #666;
                        border-radius: 0.8rem;
                    }
                }
            }

            .pdf {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: 5rem;
                padding: 3rem;
                border-top: 2px solid #000;
                border-bottom: 1px solid #E5E5E5;
                
                span {
                    font-weight: 700;
                    font-size: 2rem;
                    line-height: 2.4rem;
                }

                a{
                    border: 1px solid #666;
                    padding: 0 2rem;
                    height: 4.2rem;
                    font-weight: 700;
                    font-size: 1.8rem;
                    color: #222;
                    line-height: 4.2rem;
                    border-radius: 4rem;

                    span {
                        display: inline-flex;
                        align-items: center;
                    }

                    span::after {
                        content: '';
                        display: inline-block;
                        width: 1.8rem;
                        height: 1.8rem;
                        margin-left: 1rem;
                        background: svgDownload('222'); 
                        background-size: 100% 100%;
                    }
                }
            }

            .recruitment {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                gap: 2rem;

                li {
                    width: 100%;
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-start;
                    background-color: #fff;
                    border-radius: 0.8rem;
                    padding: 5rem;
                    gap: 4rem;
                }

                strong {
                    flex-basis: 5rem;
                    line-height: 4.8rem;
                    font-weight: 500;
                    color: #2F75FF;
                }

                p {
                    font-weight: 400;
                    font-size: 1.8rem;
                    line-height: 3.2rem;
                    color: #444;
                }
            }
        }
    }
    //환경경영
    &-environmental {
        .plank-item {
            display: flex;
            + .plank-item {margin-top: 5rem;}
            .title-s2 {padding-right: 3rem; width: calc(350/1440*100%);}
            .plank-cont {width: calc(100% - 350/1440*100%);}
        }
        .environmentalcont {
            padding: 12rem 0;
            &-img {
                width: 100%;
                margin-left: auto;
                margin-top: 5rem;

                img {
                    display: block;
                    width: 100%;
                    max-width: 44.4rem;
                    margin: 0 auto;
                    object-fit: contain;
                }
            }
            
            &:last-of-type {
                padding-bottom: 14rem;
            }

            &.gray {
                background-color: #F7F7F7;
            }

            .ol {
                padding-left: 3rem;
                li {
                    list-style: decimal;
                    color: #444;
                    font-weight: 400;
                    line-height: 3.2rem;
                }
            }

            .policy {
                &-wrap {
                    display: flex;
                    gap: 3rem;
                }
                
                flex-basis: 100%;
                flex-shrink: 1;

                strong{
                    display: block;
                    width: 100%;
                    background-color: #2F75FF;
                    text-align: center;
                    padding: 2rem 0;
                    font-weight: 700;
                    font-size: 1.6rem;
                    line-height: 1.9rem;
                    color: #fff;
                    border-radius: 0.8rem;
                }

                ul {
                    display: flex;
                    margin-top: 1.2rem;
                    width: 100%;
                    background-color: #fff;
                    padding: 2rem 0;
                    border-radius: 0.8rem;
                    position: relative;
                    margin-bottom: 5rem;
                    &::after {
                        content: '';
                        display: inline-block;
                        width: 1px;
                        height: calc(100% - 4rem);
                        background-color: #E5E5E5;
                        position: absolute;
                        top: 2rem;
                        left: 50%;
                        transform: translateX(-50%);
                    }

                }

                li {
                    display: flex;
                    flex-basis: 100%;
                    flex-shrink: 1;
                    padding: 0 2rem;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 0.8rem;

                    span {
                        font-weight: 400;
                        font-size: 1.6rem;
                        line-height: 2.8rem;
                        color: #666;
                    }
                }
            }

            .objectives {
                display: flex;
                justify-content: center;
                width: 100%;
                flex-wrap: wrap;
                gap: 3rem;

                li {
                    display: flex;
                    flex-basis: calc( (100% - 6rem) / 3 );
                    border: 1px solid #E5E5E5;
                    padding: 3rem 2.8rem;
                    border-radius: 0.8rem;
                    align-items: center;
                    gap: 2.4rem;
                    font-weight: 400;
                    font-size: 1.8rem;
                    line-height: 2.6rem;
                    color: #222;
                }
            }

            .ico {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 8.4rem;
                height: 8.4rem;
                border-radius: 50%;
                background-color: #F3F7FA !important;
                box-sizing: content-box;

                &::after {
                    content: '';
                    display: block;
                    width: 5.2rem;
                    height: 5.2rem;
                }

                &.type1::after {
                    background: svgEnvironmental1(); 
                    background-size: 100% 100%;
                }
                &.type2::after {
                    background: svgEnvironmental2(); 
                    background-size: 100% 100%;
                }
                &.type3::after {
                    background: svgEnvironmental3(); 
                    background-size: 100% 100%;
                }
                &.type4::after {
                    background: svgEnvironmental4(); 
                    background-size: 100% 100%;
                }
                &.type5::after {
                    background: svgEnvironmental5(); 
                    background-size: 100% 100%;
                }
                &.type6::after {
                    background: svgEnvironmental6(); 
                    background-size: 100% 100%;
                }
                &.type7::after {
                    background: svgEnvironmental7(); 
                    background-size: 100% 100%;
                }
                &.type8::after {
                    background: svgEnvironmental8(); 
                    background-size: 100% 100%;
                }
                &.type9::after {
                    background: svgEnvironmental9(); 
                    background-size: 100% 100%;
                }
            }

        }
    }
    // 준법경영
    &-compliance {
        .plank-item {
            display: flex;
            + .plank-item {margin-top: 5rem;}
            .title-s2 {padding-right: 3rem; width: calc(350/1440*100%);}
            .plank-cont {width: calc(100% - 350/1440*100%);}
        }
        .compliancecont {
            padding: 12rem 0;
            &-img {
                width: 100%;
                margin-left: auto;
                margin-top: 5rem;

                .title-s3 { font-weight: 500;}

                img {
                    display: block;
                    width: 100%;
                }
                
                &.cont1 {
                    img{
                        margin: 4rem auto 0;
                    }
                }
                
                &.cont2 {
                    img{
                        margin: 4rem auto 0;
                        max-width: 83.2rem;
                    }
                }
            }
            
            &:last-of-type {
                padding-bottom: 14rem;
            }

            &.gray {
                background-color: #F7F7F7;
            }

            .ol {
                padding-left: 3rem;
                li {
                    list-style: decimal;
                    color: #444;
                    font-weight: 400;
                    line-height: 3.2rem;
                }
            }

            .certified {
                display: flex;
                justify-content: flex-start;

                li {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 2rem;
                    flex-basis: calc( (100% - 6rem) / 3);
                }

                .img {
                    width: 100%;
                    padding: 1.2rem;
                    border-radius: 0.8rem;
                    overflow: hidden;
                    box-shadow: 0 0 32px 0 rgba($color: #222, $alpha: 0.08);

                    img {
                        display: block;
                        width: 100%;
                    }
                }

                span {
                    font-weight: 400;
                    font-size: 1.4rem;
                    line-height: 1.67rem;
                    color: #666;
                }
            }

        }
    }
    // 소비자중심경영
    &-consumer {
        .plank-item {
            display: flex;
            + .plank-item {margin-top: 5rem;}
            .title-s2 {padding-right: 3rem; width: calc(350/1440*100%);}
            .plank-cont {width: calc(100% - 350/1440*100%);}
        }
        .consumercont {
            padding: 12rem 0;
            &-img {
                width: 100%;
                margin-left: auto;
                margin-top: 5rem;

                .title-s3 { font-weight: 500;}

                img {
                    display: block;
                    width: 100%;
                }
                
                &.cont1 {
                    img{
                        margin: 5rem auto;
                        max-width: 90.4rem;
                    }
                }
                
                &.cont2 {
                    max-width: 92rem;
                    margin: 0 auto;

                    img { 
                        margin-bottom: 2rem;
                    }
                    span{
                        display: block;
                        text-align: right;
                        font-weight: 400;
                        font-size: 1.4rem;
                        line-height: 2.2rem;
                        color: #888;
                    }
                }
                
                &.cont3 {
                    img{
                        margin: 0 auto;
                        max-width: 62.8rem;
                    }
                }
            }
            
            &:last-of-type {
                padding-bottom: 14rem;
            }

            &.gray {
                background-color: #F7F7F7;
            }

            .ul {
                padding-left: 3rem;
                li {
                    color: #444;
                    font-weight: 400;
                    line-height: 3.2rem;
                    display: flex;
                    align-items: center;
                    gap: 1.15rem;

                    &::before {
                        content: '';
                        display: inline-block;
                        width: 0.3rem;
                        height: 0.3rem;
                        background-color: #666;
                        border-radius: 50%;
                        margin-bottom: 2px;
                    }
                }
            }

            .certified {
                display: flex;
                justify-content: flex-start;
                gap: 3rem;

                li {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 2rem;
                    flex-basis: calc( (100% - 6rem) / 3);
                }

                .img {
                    width: 100%;
                    padding: 1.2rem;
                    border-radius: 0.8rem;
                    overflow: hidden;
                    box-shadow: 0 0 32px 0 rgba($color: #222, $alpha: 0.08);

                    img {
                        display: block;
                        width: 100%;
                    }
                }

                span {
                    font-weight: 400;
                    font-size: 1.4rem;
                    line-height: 1.67rem;
                    color: #666;
                }
            }

        }
    }
    //csr
    &-csr {
        //전략 및 운영체계
        .strategy-list {
            margin-top: 5rem; text-align: center;
        }
        //csr활동         
        .csr-activity {
            .section-contents {
                display: none;
                padding-top: 0 !important;
                &.on {display: block;}
            }
            margin-bottom: -12rem; 
        }
        .btn-url {
            &:after {content:''; display: inline-block; margin-left: 1rem; margin-top: -0.2rem; width: 2.4rem; height: 2.4rem; background: svgUrlArrow4('000'); background-size: 100% 100%; vertical-align: middle;}
        }
        .gallery-swiper {
            position: relative; width: 100%; height: calc(460/1440*100vw); max-height: 46rem; margin-top: 5rem;
            .slide-wrap {position: relative; width: 100%; height: 100%;}
            &.default {
                .slide-list {margin-top: 5rem; display: flex; flex-wrap: wrap; gap: 3rem; font-size: 0;}
                .slide {width: calc((100% - 3rem)/2); border-radius: 2rem; overflow: hidden;}
            }
            &.draggable {
                .slide-list {width: 100%; height: 100%; transform-style: preserve-3d;}
                .slide {
                    position: absolute;
                    left: 50%;
                    width: calc(702/1072*100%); 
                    height: 100%; 
                    border-radius: 2rem;  
                    overflow: hidden; 
                    transition: all 0.3s;
                    &.prev {transform: translate3d(-90%, 0, -10rem) scale(calc(300/460));}
                    &.next {transform: translate3d(-10%, 0, -10rem) scale(calc(300/460));}
                    &.active {transform: translate3d(-50%, 0, 0) scale(1); box-shadow: 1rem 1rem 3.2rem rgba(34,34,34,0.32); z-index: 1;}
                    &:after {content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0,0,0,0); transition: background 0.5s;}
                    &:not(.active) {
                        &:after {background-color: rgba(0,0,0,0.6);}
                    }
                }  
            }            
            img {width: 100%; height: 100%; object-fit: cover;} 
            .btn-prev, .btn-next{
                position: absolute; top: 50%; margin-top: -1.8rem; width: 3.6rem; height: 3.6rem; border: 1px solid #fff; border-radius: 50%; background: svgPageArrow('fff') no-repeat 50% 50%/ 1.2rem;
            }
            .btn-prev {left: 10%;}
            .btn-next {right: 10%; transform: rotate(180deg);}
            
            + .text-2 {margin-top: 5rem;}
        }
        .info-box {
            display: flex; width:100%; margin-top: 5rem; border: 1px solid #d5d5d5; padding: 5rem; border-radius: 1rem;
            .title-s2 {width: 48%;}
            dl {
                display: flex;
                flex-wrap: wrap;
                width: 52%;
            }
            dt {width: 7rem; color: #000081; font-weight: 500;}
            dd {width: calc(100% - 7rem); color: #666;}
        }
        .article {
            padding: 12rem 0;
            .section-inner {display: flex;}  
            h3 {width: calc(368/1440*100%);} 
            .content {width: calc(100% - 368/1440*100%);} 
            .text-2 {
                color: #444;
                + .text-2 {margin-top: 3rem;}
                b {color: #000081; font-weight: 600;}
            }
            .img {width: calc((100% - 3rem)/2); border-radius: 2rem; overflow: hidden;}
                
        }
        
        //협력기관
        .cooperation-list {display: flex; flex-wrap: wrap; gap: 3rem;}
        .cooperation-item {
            position: relative; width: calc((100% - 12rem)/5); border: 1px solid #e5e5e5; border-radius: 0.8rem; text-align: center; font-size: 0; background-color: #fff;
            &:before {content: ''; display: block; width: 100%; padding-bottom: 100%;}
            a {
                position: absolute; top: 0; left: 0; display: block; padding: 0 1rem; width: 100%; height: 100%;
                &:before {content: ''; display: inline-block; width: 0; height: 100%; vertical-align: middle;}
            }
            img {vertical-align: middle;}
        }
    }
    //공급망 관리
    &-supply-chain {
        .article {
            padding: 12rem 0;
            .section-inner {display: flex;}  
            h3 {width: calc(368/1440*100%);} 
            .content {width: calc(100% - 368/1440*100%);} 
            .text-2 {
                margin-bottom: 5rem; color: #444;
            }
            .img {width: calc((100% - 3rem)/2); border-radius: 2rem; overflow: hidden;}
        }
        .strategy-item {
            display: flex; gap: 3rem;
            + .strategy-item {
                margin-top: 2.8rem;
                strong:before {
                    content:''; position: absolute; left: 0; bottom: 100%; height: 2.8rem; width: 100%; background: svgDownArrow('aaa') no-repeat 50% 50%/ 13px;
                }
            }
            strong {position: relative; padding: 2rem 0; width: calc(337/1072*100%); background-color: #2F75FF; color: #fff; border-radius: 0.8rem; text-align: center;}
            p {
                position: relative; padding: 2rem 4rem; flex:1; background-color: #F3F7FA; border-radius: 0.8rem;
                &:before {content: ''; position:absolute; top: 0; bottom: 0; right: 100%; margin: auto; height: 1px; width: 3rem; background-color: #e5e5e5;}
            }
            a {float: right; color: #000081; text-decoration: underline; font-size: 1.4rem; font-weight: 600;}
        }
        .sort-item {
            display: flex; gap: 3rem;
            + .sort-item {margin-top: 1.2rem;}
            strong {display: flex; padding: 2rem 0; width: calc(337/1072*100%); background-color: #000081; color: #fff; border-radius: 0.8rem; justify-content: center; align-items: center;}
            p {position: relative; padding: 2rem 4rem; flex:1; background-color: #F3F7FA; border-radius: 0.8rem;}
        }
        .estimation {
            display: flex; justify-content: center;
            .ico {
                position: relative; margin: 9rem 2rem 0; width: 4rem; height: 4rem; @include font0;
                &:before {content:''; position: absolute; top: 50%; margin-top: -1px; height: 0; width: 4rem; border-top: 2px solid #aaa;}
                &:after {content:''; position: absolute; left: 50%; margin-left: -1px; width: 0; height: 4rem; border-right: 2px solid #aaa;}
            }
        }
        .estimation-item {
            width: calc(337/1072*100%); text-align: center;
            strong {padding: 2rem 0; display: block; background-color: #2F75FF; color: #fff; border-radius: 0.8rem;}
            div {padding: 2rem 0; margin-top: 1.2rem; background-color: #fff; color: #666; border-radius: 0.8rem;}
        }
        .plank {border-top: 2px solid;}
        .plank-item {
            position: relative; padding: 4rem 3rem; border-bottom: 1px solid #E5E5E5; font-size: 2rem;
        }
        a[download] {
            position: absolute; margin-top: -2.1rem; top: 50%; right: 3rem; padding: 0 4.8rem 0 2rem; font-size: 1.8rem; font-weight: 600; line-height: 4.2rem; border: 1px solid; border-radius: 4.5rem; background: svgDownload('222') no-repeat calc(100% - 2rem) 50%/1.4rem; 
        }
    }
    //윤리 헌장 및 보고서
    &-ethical {
        .charter-list {justify-content: center;}
        .charter-item {
            padding: 5rem; min-height: 37rem; border: 1px solid #e5e5e5; border-radius: 2rem; transition: all 0.3s;
            .num {color: #E5E5E5;}
            .title-s2 {margin-top: 1.6rem; display: block;}
            .text-1 {margin-top: 3.6rem; color: #666;}
        }
        .plank-item {
            display: flex;
            + .plank-item {margin-top: 5rem;}
            .title-s3 {padding-right: 3rem; width: calc(350/1440*100%);}
            .text-2 {width: calc(100% - 350/1440*100%);}
        }
        .section-contents {
            display: none;
            &.on {display: block;}
        }
        .bullet-list {
           > li {display: flex;}
           .bullet {min-width: 3.2rem;}
        }
    }
    //통합보고서
    &-synthesis-report {
        .title-s3 {
            font-weight: 500;
            b {color: #162DA1; font-weight: 500;}
        }
        .synthesis-report-list {
            display: flex; margin-top: 5rem; flex-wrap: wrap; gap: 3rem; 
            > li {
                width: calc((100% - 3rem)/2); border:1px solid #E5E5E5; border-radius: 2rem; background-color: #fff; overflow: hidden; transition: all 0.3s;        
                > a {
                    display: flex; height: 100%;
                    background: svgDownload('162DA1') no-repeat calc(100% - 4rem) calc(100% - 4rem)/2.4rem; 
                }
                .text-2 {color: #162DA1; font-weight: 700;}
                .title-s3 {display: block; margin-top: 2rem;  font-weight: 700;}
                .thumb {
                    padding: 3rem 1rem; width: calc((294/705*100%)); background-color: #F3F7FA; text-align: center; transition: background 0.3s;
                    img {margin: 0 auto; max-width: 100%;}
                }
                .content {padding: 4rem 8rem 4rem 4rem; width: calc((411/705*100%));}
            }
        }
    }
}

@media (hover: hover) and (pointer: fine) {
    .management {
        //csr
        &-csr {
            //협력기관]
            .cooperation-item:hover {border: 0; box-shadow: 0.1rem 0.1rem 3.2rem rgba(34,34,34,0.15);}
        }
         //윤리 헌장 및 보고서
         &-ethical {
            .charter-item:hover {
                background-color: #162DA1; border-color: #162DA1;  box-shadow: 1rem 1rem 3.2rem rgba(22,45,161,.24); 
                .num {color: rgba(255,255,255,0.4)}
                .title-s2, .text-1 {color:#fff}
            }
        }
        //통합보고서
        &-synthesis-report {
            .synthesis-report-list {
                > li:hover {
                    box-shadow: 1rem 1rem 3.2rem rgba(22,45,161,.24); 
                    .thumb {background-color: #162DA1; border-color: #162DA1; color: #fff;}
                }
            } 
        }
    }

}
@media screen and (max-width: 1350px) {
    

} 

@media screen and (max-width: 1200px) {
    

} 

@media screen and (max-width: 992px) {
    .management {      
        &-csr {
            //협력기관
            .cooperation-list {gap: 2rem;}
            .cooperation-item {width: calc((100% - 8rem)/5);}
        }
        //통합보고서
        &-synthesis-report {
            .synthesis-report-list {
                gap: 2rem;
                > li {
                    width: calc((100% - 2rem)/2);
                    .thumb {padding: 2rem 1.6rem;}
                    .content {
                        padding: 2rem;
                    }
                    .title-s3 {font-size: 2rem;}

                }
            } 
        }
    }
}

@media screen and (max-width: 766px) {
    .management {      
        &-csr {
            //협력기관
            .cooperation-list {
                margin: 0 -1.6rem -10rem;
                padding: 6.4rem 1.6rem 10rem;                
                gap: 0.8rem;
                background-color: #F7F7F7;
            }
            .cooperation-item {
                width: calc((100% - 1.6rem)/3);
                a {padding: 0 1.5rem;}
            }
        }
        //통합보고서
        &-synthesis-report {            
            .synthesis-report {margin-bottom: -10rem; padding: 6.4rem 0 10rem; background-color: #F7F7F7;}
            .synthesis-report-list {
                gap: 0.8rem;
                > li {
                    width: 100%;
                    a {
                        background-size: 2rem;
                        background-position: calc(100% - 1.6rem) calc(100% - 2rem);
                    }
                    .thumb {width: calc(124/328*100%);}
                    .content {
                        padding: 2rem 1.6rem;
                    }
                    .text-2 {font-size: 1.2rem;}
                    .title-s3 {font-size: 1.4rem;}

                }
            } 
        }
    }
}
